label {
  color: #607d8b;
  display: inline-block;
  font-weight: bold;
  margin: 0.5em 0;
  width: 3em;
}

input {
  font-size: 1em;
  height: 2em;
  padding-left: 0.4em;
}

button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial;
  margin-right: 10px;
  margin-top: 20px;
  padding: 5px 10px;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
